@charset "UTF-8";

@media screen and(min-width:768px) and (max-width:1023px) {/*TABLET*/

    .conteiner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #53387e;
        border-radius: 30px;
        margin: 3%;
        max-height: 100%;
    }


    
}

@media screen and (min-width: 1024px) { /*DESKTOP*/

    .conteiner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #53387e;
        border-radius: 30px;
        margin: 10%;
        max-height: 100%;
    }

    #formulario {
        display: inline-block;
        border-radius: 10px;
        background-color:white;
        margin-right: 3%;
        padding: 2%;
        max-width: 45%;  
    }

    #formulario > h1 {
        color:rgb(197, 123, 133);
        text-align: center;
    }
    
    #email {
        padding: 2%;
        max-width: 100%;

    }
    
    #senha {
        padding: 2%;
        max-width: 100%;
     
    }
    
    #botao {
        display: block;
        padding: 10px;
        margin-top: 10px;
        background-color:rgb(197, 123, 133);
        border-radius: 5px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        max-width: 100%;
    }
}