@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:998px) /* tablet */{

    .links > ul {
        display: flex;
        flex-direction: row; 
        justify-content: flex-end;
        padding-top: 30px;
        column-gap: 35px;
    }

    .links > ul > li > a:hover {
        color: white;
        background-color: rgb(209,160,209);
        padding: 10px;
        border-radius: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35%;
        margin-bottom: 58%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    
}

@media screen and (min-width:992px) /* telas maiores que 992px */{

    .links > ul {
        display: flex;
        flex-direction: row; 
        justify-content: flex-end;
        padding-top: 30px;
        column-gap: 35px;
    }

    .links > ul > li > a:hover {
        color: white;
        background-color: rgb(209,160,209);
        padding: 10px;
        border-radius: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 12%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
    
}