@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right,rgb(209, 160, 209),rgb(197, 123, 133));
    font-family: 'Oxygen', sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #53387e;
    border-radius: 50px;
    margin: 5% 3%;
    height: 100%;
    font-size: 0.8em;
}

#texto {
    display: block;
    color: white;
    position: relative;
    margin: 5%;
    padding: 15px;
    text-align: center;
}

img{
    display: block;
    padding: 15px;
    height: 320px;
    width: 300px;
}

#formulario {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color:white;
    width: 30%;
    
}

#formulario > h1 {
    color:rgb(197, 123, 133);
    text-align: center;
    padding: 3%;
}

form {
    margin: 5%; 
    
}

#email {
    display: inline-block; 
}

#senha {
    display: inline-block;
    padding-bottom: 10px;
 
}

input {
    padding: 8px;
}

.material-icons {
    color:rgb(197, 123, 133);
    padding-left: 10px;
}

#botao {
    display: block;
    padding: 10px;
    background-color:rgb(197, 123, 133);
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    width: 92%;
}

a {
    text-decoration: none;
    color: white;
}