@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right,rgb(209, 160, 209),rgb(197, 123, 133));
    font-family: 'Oxygen', sans-serif;
}

h1 {
    color: rgb(209, 160, 209);
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}

form{
    display: block;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    max-width: 80%;
}

p {
    font-weight: Normal;
    color: rgb(184, 95, 184);
}
div.botao{ 
    text-align: center;
}

#botao{
    
    width: 100px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(209, 160, 209);
    color: white;
    border: none;
    border-radius: 10px;
}

